@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
}
.container1{
    width: 100%;
    min-height: 40vh;
    padding-left: 2%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .navbar{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .nav-logo{
    /* position: absolute; */
    left: 0.7%;
    right: 88.67%;
    top: 0%;
    margin-left: 2%;
    bottom: 6.68%;
  }
  .menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }
  nav ul li a{
    text-decoration: none;
    color:rgba(120, 169, 45, 0.64);
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
  }
  nav ul li a:hover{
    color:#333;
  }

body{
    margin: 0;
    background-color: white !important;
}
.header{
    text-align: center;
    padding: 32px;
}
.header h1{
    font-family: "Pacifico";
    /* font-style: "Pacifico"; */
    font-size: 50px;
    color: #78A92D;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.08em;
    text-align: center; 
    /* height: 98px; */
    margin-left: 0%;
    top: 75px;
}
.gallery-header{
  font-family: 'Pacifico',cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 42px !important;
  line-height: 128%;
  /* or 101px */
  text-align: center;
  letter-spacing: 0.08em;
  color: #78A92D;
  justify-content: center;
  text-align: center;
  width: 98%;
}

.gallery_box{
  height: auto;
  margin-bottom: 50px;
  width: auto;
  padding-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  /* display: block; */
background: #FFFFFF;
box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.25);
border-radius: 23px;
}
.roow{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px 30px 30px;
}
.coolumn{
    flex: 25%;
    max-width: 25%;
}
.img-hover-zoom{
    height: auto;
    overflow: hidden;
    border: 5px solid #ffff;
}
.img-hover-zoom img{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition:  transform .5s ease;
}
.img-hover-zoom:hover img{
    transform: scale(1.5);
}





/* ##################### media query##########+++++++++++++++++++++ */




@media screen and (max-width: 800px) {
    .coolumn{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .coolumn{
        flex: 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width:700px){

    nav ul{
      width: 100%;
      background: linear-gradient(#fcfffa,#c2f577);
      position:absolute;
      top: 75px;
      right: 0;
      z-index: 2;
    }
    nav ul li{
      display:block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a{
      color:#333;
    }
    .menu-icon{
    display: block;
    }
    #menulist{
      overflow: hidden;
      transition: 0.5s;
    }
  }


/*################# MEIDA QUERY FOR FOOTER############## */


 
  
  /* @media (min-width 1400){
    .heading_gallery{
      top: -20%;
      margin-top: -80%;
    }
    .head{
      margin-top: -400%;
    }
  } */
  
  
  
  @media only screen and (max-width:413px){
  
    nav ul{
      width: 100%;
      background: linear-gradient(#fcfffa,#c2f577);
      position:absolute;
      top: 75px;
      right: 0;
      z-index: 2;
    }
    nav ul li{
      display:block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a{
      color:#333;
    }
    .menu-icon{
      margin-right: 1rem;
    display: block;
    }
    #menulist{
      overflow: hidden;
      transition: 0.5s;
    }
    
  }


































  











  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
  }
  body{
    min-height: 100vh;
    width: 100%;
    background: #EEECEB;
  }
  footer{
   margin-top: 20%;
    /* position: fixed; */
    /* position: absolute; */
    background: rgba(120, 169, 45, 0.64);
    width: 100%;
    bottom: 0;
    /* left: 10%; */
  }
  /* footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background: #AFAFB6;
  } */
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .content .top .logo-details{
    color: black;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
  }
  
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: pacifico;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: black;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: black;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #AFAFB6;
    background: white;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: black;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #AFAFB6;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #fff;
    color: #140B5C;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: rgba(120, 169, 45, 0.04);
    /* background-color: white; */
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: black;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
    .new_footer_logo{
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    .new_devesh_logo{
        display: none;
    }
    .policy_terms{
      display: flex;
      margin-right: -2.5rem !important;
      
    }
    .copyright_text{
      margin-left: -2rem !important;
    }
    
  }
  

.new_footer_logo{
    width: 40%;
}
.new_devesh_logo{
    width: 50vw;
    position: absolute;
    margin-left: 25%;
    margin-top: 4%;
}
.copyright_text{
    margin-left: 40%;
}
