@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    box-sizing: border-box;
}
.container1{
    width: 100%;
    min-height: 40vh;
    padding-left: 2%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
  }
  .navbar{
    width: 100%;
    display: flex;
    align-items: center;
  }
  .nav-logo{
    /* position: absolute; */
    left: 0.7%;
    right: 88.67%;
    top: 0%;
    margin-left: 2%;
    bottom: 6.68%;
  }
  .menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 30px;
  }
  nav ul li a{
    text-decoration: none;
    color:#78A92D;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
  }
  nav ul li a:hover{
    color:#333;
  }

body{
    margin: 0;
}
.header{
    text-align: center;
    padding: 32px;
}
.header h1{
    font-family: "Pacifico";
    /* font-style: "Pacifico"; */
    font-size: 50px;
    color: #78A92D;
    font-weight: 400;
    font-size: 64px;
    letter-spacing: 0.08em;
    text-align: center; 
    /* height: 98px; */
    margin-left: 0%;
    top: 75px;
}
.gallery-header{
  font-family: 'Pacifico',cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 128%;
  /* or 101px */
  text-align: center;
  letter-spacing: 0.08em;
  color: #78A92D;
  justify-content: center;
  text-align: center;
}

.gallery_box{
  height: auto;
  margin-bottom: 50px;
  width: auto;
  padding-top: 50px;
  margin-left: 30px;
  margin-right: 30px;
  /* display: block; */
background: #FFFFFF;
box-shadow: 0px 0px 32px -3px rgba(0, 0, 0, 0.25);
border-radius: 23px;
}
.roow{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px 30px 30px;
}
.coolumn{
    flex: 25%;
    max-width: 25%;
}
.img-hover-zoom{
    height: auto;
    overflow: hidden;
    border: 5px solid #ffff;
}
.img-hover-zoom img{
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
    transition:  transform .5s ease;
}
.img-hover-zoom:hover img{
    transform: scale(1.5);
}





/* ##################### media query##########+++++++++++++++++++++ */




@media screen and (max-width: 800px) {
    .coolumn{
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 500px) {
    .coolumn{
        flex: 100%;
        max-width: 100%;
    }
}
@media only screen and (max-width:700px){

    nav ul{
      width: 100%;
      background: linear-gradient(#fcfffa,#c2f577);
      position:absolute;
      top: 75px;
      right: 0;
      z-index: 2;
    }
    nav ul li{
      display:block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a{
      color:#333;
    }
    .menu-icon{
    display: block;
    }
    #menulist{
      overflow: hidden;
      transition: 0.5s;
    }
  }


/*################# MEIDA QUERY FOR FOOTER############## */


 
  
  /* @media (min-width 1400){
    .heading_gallery{
      top: -20%;
      margin-top: -80%;
    }
    .head{
      margin-top: -400%;
    }
  } */
  
  
  
  @media only screen and (max-width:413px){
  
    nav ul{
      width: 100%;
      background: linear-gradient(#fcfffa,#c2f577);
      position:absolute;
      top: 75px;
      right: 0;
      z-index: 2;
    }
    nav ul li{
      display:block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    nav ul li a{
      color:#333;
    }
    .menu-icon{
      margin-right: 1rem;
    display: block;
    }
    #menulist{
      overflow: hidden;
      transition: 0.5s;
    }
    
  }


































  @media only screen and (max-width:413px){
    .image-down{
      display: none;
    }
    footer{
      overflow: hidden;  
    }
    .footer-sections{
    
      display: flex;
     
    }
    .side-ques-text{
      line-height:1rem !important;
       /* margin-top: 10rem;
      margin-left: -16rem; */
      font-size: 1.2rem !important;
      /* display: none; */
      width: 14rem!important;
    }
    .email-input{
      display: flex;
      flex-direction: column;
      
    }
    .side-ques h2{
        margin-left: -24vh;
        
    }
  
    
    .footer-green-img{
      margin-top: -20vh;
    }
    .sec-timings{
      display:none;
    }
    
    
    .side-ques{
      margin-top:70%; 
      
      
      
      
    }
    .sec-homians{
     
      font-size:.9rem;
     
      
    }
    .email-input{
      margin-left: 7vh;
      width: 100%;
      
    }
    .mail-box{
      margin-left: -5%;
    }
    .sec-contact-us h2{
      /* font-size: 1rem!important; */
      font-weight: 800;
      /* line-height: 7vh!important; */
     margin-top: 1.8vh;
     width: 0vh;
    }
    .devesh{
      display: flex;
    }
    .sec-contact-us{
      margin-top: 4%;
      margin-left: 10%;
      /* width:12vw; */
      /* margin-left:26%;  */
      font-size:.9rem;
  
    }
   
    .bottom-footer{
      /* margin-top: 40vh !important; */
      margin-top: -25rem !important;
      height: 4rem;
      width: 8rem!important;
      margin-left: -7.5rem;
      
    }
    
   
  
    .footer-mail{
      width: 100%;
      margin-left: -15vh;
    }
  
    .send-button{
      margin-top: .8%!important;
      margin-left: -7% !important;
      /* width: 20%; */
      font-size: .8rem;
      padding-right: 50px;
      /* display: none; */
    }
    


    .contact-us-list{
      margin-top: 15%;
      margin-left: 4%;
      width: 25vw;
    font-weight: 800;
    
    }
    .section3{
      height: 35vh;
    }
    .list{
      line-height: 1.4rem;
      width: 100%;
      display:flex;
  
    }
    .hyperlink{
      margin-top: -3%;
      display: flex;
    }
    .outer-box{
        /* width: 320%; */
        margin-left: -114%;
      }
   
    .homians-list{
        width: 16.5vh!important;
        font-weight: 600;
        /* font-family: normal; */
    }
    .trademark{
      margin-left: -65vh;
     
      
    }
    .trademark-text{
      /* margin-top: 200vh; */
      margin-top: 70vh!important;
      display: none;
    }
    .gallery-header{
      font-size: 40px !important;
    }
  }




  @media only screen and (max-width:376px){
    .side-ques h2{
      margin-left: -30vh;
      
  }
  .bottom-footer{
    margin-left: -15vh;
    margin-top: -160% !important;
  }
  .email-input{
    display: flex;
    flex-direction: column;
    
  }
  .mail-box{
    width: 100% !important;
    
  }
  .send-button{
    margin-left:0.5rem!important;
    /* padding: 1\0px; */
  }
  .outer-box{
    height: 2rem;
  }
  }


  @media only screen and (max-width:376px){
    .side-ques h2{
      margin-left: -30.7vh;
      /* width: 10% !important; */
      
  }
 
  .bottom-footer{
    margin-top: -160% ;
    /* width: 201%; */
  }
  .outer-box{
    width: 210%;
    
  }
  
  .send-button{
    margin-left:0.7rem!important;
    margin-top: -0.px !important;
    /* padding-bottom: 10px; */
    font-size: 12px !important;
  }
  }
 






  .footer{
    /* margin: 0; */
    margin-top: 20%;
    justify-content:center;
    display: flex;
  }
  .container{
    display:flex;
  }
  .image-down{
    position: absolute;
    width: 63%;
    margin-left:22%;
    /* height: 50vh; */
    /* margin-top: 100%; */
  }
  .footer-green-img{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 96vh;
  }
  .footer-sections{
    position: absolute;
    display:flex;
    margin-top: 30%;
    
    /* margin-left:10%; */
  }
  .sec-homians{
    margin-left: 6%;
   
    
  }
  .sec-homians h2{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
  }
  
  .list{
    list-style: none;
  }
   a:visited{
    color:black;
    /* text-decoration: none; */
  }
  .hyperlink{
    text-decoration: none;
   
  
  }
  
  .sec-contact-us {
    margin-left: 9%;
    /* display:flex; */
    /* width: 25vw; */
  }
  .sec-timings > ul >li{
      margin-left: -2.5rem;
      margin-top: -1rem;
      line-height: 1.5rem;
  }
  .homians-list{
    width:10vw;
    margin-left: -2.4rem;
    margin-top: -1rem;
   
  }
  .listtime{
      list-style: none;
      margin-left: -5rem;
      margin-bottom: 1rem;
  }
  .contact-us-list{
    width: 19vw;
    margin-left: -2.5rem;
    margin-top: -1rem;
  
  }
  .sec-contact-us h2{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
  
  }
  .sec-timings{
      margin-left:18%;
  }
  .sec-timings h2{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 46px;
    width: 20vw;
  
  }
  .side-ques{
    margin-left:11%;
    display:flex;
    flex-direction: column;
  }
  .side-ques h2{
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 5px;
    width: 20vw;
    
  
  }
  .footer-logo{
    /* display: none; */
    display: flex;
    flex-direction: column;
  }
  .bottom-footer{
    width: 15vw;
    margin-top: -5%;
    
  }
  .footer-mail{
    background: rgba(255, 255, 255, 0.4);
    border-radius: 23px;
    /* border-color: rgba(255, 255, 255, 0.4);
    box-shadow:rgba(97, 97, 97, 0.462); */
    border:0;
    width: 65%;
    height:3vh;
    padding-right: 100px;
  }
  .send-button{
    position:absolute;
    margin-left: -5%;
    border: 0;
    border-radius: 13px;
    background:  rgba(120, 169, 45, 0.8);
    font-size: 1rem;
    height: 2.5vh;
    color:#F9F9F9;
    margin-top:0.2%;
    width:3.7vw;
  }
  .outer-box{
    margin-top: 5%;
  }

  .trademark-text{
    position: absolute;
    margin-top: 47% ;
    /* text-align: center; */
    margin-left: 37rem;
  }

  #my_email{
    /* font-size: 10px; */
    width: 5% !important; 
  }








  @media only screen and (max-width:360px){
    .side-ques h2{
      margin-left: -25vh;
      margin-top: 20%;line-height: 10px;
      
  }
  .bottom-footer{
    margin-left: -14vh;
    margin-top: -170% !important;
    
  }
  .email-input{
    display: flex;
    flex-direction: column;
    
  }
  .mail-box{
    width: 80% !important;
    /* display: none; */
    
  }
  .send-button{
    margin-left:0.5rem!important;
    /* padding: 1\0px; */
  }
  .email-input{
    
    width: 170%;
    margin-left: -1%;
  }
  .send-button{
    width: 10px !important;
    margin-left: -3% !important;
  }
   
  }


  
